*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*======TIPOGRAFÍA=====*/
@font-face {
    font-family: Garamond-regular;
    src: url('../fonts/Garamond Regular.ttf');
}
@font-face {
    font-family: Avenir-black;
    src: url('../fonts/AvenirLTStd-Black.otf');
}
@font-face {
    font-family: Avenir-book;
    src: url('../fonts/AvenirLTStd-Book.otf');
}
body{
    font-family: 'Avenir-book';
}
b{
    font-family: 'Avenir-black';
}

/*====COLORES=====*/
:root{
    --azul3: #1f2939;
    --azul2: #2b5c94;
    --azul1: #487eae;
    --gris: #edeeee;
}

header{
    margin-top: 100px;
}
