*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*======TIPOGRAFÍA=====*/
@font-face {
    font-family: muli-light;
    src: url('../fonts/muli/Muli-Light.ttf');
}
@font-face {
    font-family: muli-regular;
    src: url('../fonts/muli/Muli-Regular.ttf');
}
@font-face {
    font-family: muli-bold;
    src: url('../fonts/muli/Muli-Bold.ttf');
}
@font-face {
    font-family: muli-extrabold;
    src: url('../fonts/muli/Muli-ExtraBold.ttf');
}


@font-face {
    font-family: lemon-light;
    src: url('../fonts/lemon/LemonMilklight.otf');
}
@font-face {
    font-family: lemon-regular;
    src: url('../fonts/lemon/LemonMilk.otf');
}
@font-face {
    font-family: lemon-bold;
    src: url('../fonts/lemon/LemonMilkbold.otf');
}


/*====COLORES=====*/
:root{
    --azul: #41C4DE;
    --verde1: #00F583;
    --verde2: #00A85A;
    --rojo: #E1325D;
    --amarillo: #E2B138;
    --gris: #1B535E; 
}


.main_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto;
    grid-template-areas:  
    'menu'
    'main'
    'footer'
    ; 
}

main{
    grid-area: main;
}