.formulario{
    padding: 50px;
}
.formulario .title{
    font-family: 'Avenir-black';
    text-align: center;
    margin: 20px 0px;
}

.formulario form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.formulario form .form-group{
    width: 350px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.formulario form .form-group input,
.formulario form .form-group select{
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.formulario .terminos{
    text-align: center;
    font-weight: bold;
}
.formulario .terminos span{
    color: var(--azul1);
}
.formulario .boton{
    display: flex;
    justify-content: center;
}
.formulario .boton button{
    padding: 5px;
    border: none;
    border-radius: 5px;
    background: var(--azul2);
    color: #fff;
    font-size: 1.5em;
    margin: 20px 0px;
    cursor: pointer;
}



@media screen and (max-width: 750px){
    .formulario{
        padding: 50px 20px;
    }
    .formulario form{
        flex-direction: column;
    }
    .formulario form .form-group{
        width: 100%;
        margin: 20px 0px;
    }
}