a {
    text-decoration: none;
    color: #00A85A;
    font-family: muli-regular;
    cursor: pointer;
}

p {
    font-family: muli-regular;
}

h2 {
    font-family: muli-regular;
}

.btn {
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: muli-regular;
}

.divider {
    border-top: 1px solid #d9dadc;
    display: block;
    line-height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
}

.divider .divider-title {
    background-color: #fff;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 0 20px;
    text-transform: uppercase;
}

.container {
    max-width: 500px;
    width: 90%;
    margin: auto;
}

.logo {
    margin-bottom: 30px;
    padding: 25px 0 10px;
    border-bottom: 1px solid #d9dadc;
    text-align: center;
}

.logo .ktdra-logo {
    background-image: url("../imagenes/logo1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    max-width: 100%;
    width: 200px;
}

.logo .ktdra-logo:before {
    content: "";
    display: block;
    padding-top: 33%;
}

.login_facebook {
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.login_facebook .botton-facebook {
    background-color: #3b5999;
    color: #fff;
    margin: 10px 0;
    font-size: 1em;
    padding: 2% 20%;
}

.login_facebook .botton-facebook:hover {
    background-color: #3b5999d3;
}
/*======FORMULARIO========*/
.formulario {
    margin-bottom: 30px;
    margin-top: 20px;
}

.formulario .form-group {
    width: 100%;
    margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="password"],
.formulario input[type="email"],
.formulario input[type="number"]{
    padding: 7px;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid #aaa;
    vertical-align: top;
    font-family: muli-regular;
}

.formulario select {
    padding: 7px;
    font-size: 18px;
    line-height: 18px;
    border: 1px solid #aaa;
    vertical-align: top;
}

.formulario .usuario, 
.formulario .password,
.formulario .email {
    width:  100%;
}

.formulario .dia, 
.formulario .yers {
    width:  25%;
}

.formulario .mes {
    width: 48%;
}

.formulario .form-group .form-fecha{
    text-align: justify;
    margin: 5px 0 25px 0;
}
.formulario .submit-btn {
    padding: 1% 13%;
    color: #fff;
    background-color: rgba(107, 9, 9, 0.767);
    float: right;
}

.formulario .submit-btn:hover {
    background-color: rgba(107, 9, 9, 0.616);
}
/*=====TYPE RADIO & CHECKBOX=======*/
.contenedor {
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
    font-family: muli-regular;
}

.contenedor input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}

.contenedor:hover input ~ .checkmark,
.contenedor:hover input ~ .checkmark-radio{
    background-color: #ccc;
}

.contenedor input:checked ~ .checkmark,
.contenedor input:checked ~ .checkmark-radio {
    background-color: #2196F3;
}

.checkmark:after,
.checkmark-radio:after {
    content: "";
    position: absolute;
    display: none;
}

.contenedor input:checked ~ .checkmark:after,
.contenedor input:checked ~ .checkmark-radio:after {
    display: block;
}

.contenedor .checkmark:after{
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkmark-radio {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.container .checkmark-radio:after {
   top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}

.texto-registrate {
    text-align: center;
    padding: 15px;
    margin-bottom: 15px;
}

.texto-registrate p {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-registrar {
    padding: 2% 20%;
    font-size: 18px;
	line-height: 18px;
	background-color: #fff;
	color: #000;
    border: 2px solid #000;
}

.btn-registrar:hover {
    background-color: #616467;
    color: #fff;
    border: none;
}

.olvidado {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 20px;
    font-family: muli-regular;
}

.terminos {
    margin-bottom: 10px;
    font-size: 12px;
    color: #ccc;
    font-family: muli-regular;
}

.terminos-registro {
    font-family: muli-regular;
    text-align: center;
    font-size: 14px;
}

.terminos a,
.terminos-registro a {
    color: rgb(13, 158, 168);
}

.terminos a:hover,
.terminos-registro a:hover {
    color: rgb(14, 180, 192);
}

.texto-centrado {
    text-align: center;
    margin-bottom: 20px;
}

.fecha-nacimiento {
    font-family: muli-regular;
    font-size: 1em;
}

.box-cache {
    width: 100%;
    height: 100px;
    background-color: red;
    margin: 20px 0 20px 0;
}

.enviar-registro {
    text-align: center;
    margin-top: 25px;
}

.enviar-registro .btn-aceptar {
    background-color: var(--amarillo);
    color: #fff;
    font-size: 1em;
    padding: 2% 30%;
}

.enviar-registro p {
    margin: 25px 0;
}

.enviar-registro p a {
    color: var(--amarillo);
    margin-left: 5px;
}
